<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>What We Got</title>
</head>
<body>
	<h1>IN MAIN.HANDLEBARS</h1>
	<p>
		{{#if logged_in}}
			Welcome {{username}}! <br>
			You are user: {{user_id}}. <br>
			<a href="/users/sign-out">Sign Out</a>
		{{else}}
			<a href="/users/sign-in">Sign In</a>
			<a href="/users/new">Sign Up</a>
		{{/if}}

		<p>CHECKING LOGGED IN BOOL: {{logged_in}}</p>
	</p>
	{{{ body }}}
</body>
</html>